script.
  const { Each, On, Style, Value } = require('dwayne');

div.todos-app
  div.todos
    Each(set="{todos}", item="todo", uid!="{(todo) => todo.id}")
      div(
        On(click)="{toggleTodo(todo.id)}"
        Style(text-decoration)="{todo.finished ? 'line-through' : 'none'}"
      ) {todo.task}
  input(Value="task")
  button(On(click)="{addTodo()}") Add todo
